/* 全局样式表*/

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width:1366px
}

.el-breadcrumb{
    margin-bottom: 10px;
}

.el-table{
    margin-top: 15px;
    margin-bottom: 15px;

}

.el-cascader-menu {
    height: 300px;
}

.el-steps{
    margin:15px 0;
}
.el-step__title{
    font-size: 13px;
}